@font-face {
  font-family: "LuxiMonoRegular";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/luximr-webfont.woff") format("woff"); }

@font-face {
  font-family: "LuxiMonoOblique";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/luximri-webfont.woff") format("woff"); }

@font-face {
  font-family: "LuxiMonoBold";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/luximb-webfont.woff") format("woff"); }

@font-face {
  font-family: "LuxiMonoBoldOblique";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/luximbi-webfont.woff") format("woff"); }

.InputfieldAceEditor .ui-widget-content {
  padding: 0 !important; }

.ace-editor-position-wrapper {
  position: relative;
  padding: 14px; }

.ace-editor-design-wrapper .ace_gutter-cell, .ace-editor-design-wrapper .ace_folding-enabled > .ace_gutter-cell {
  padding: 0 14px 0 0; }
.ace-editor-design-wrapper .ace_editor {
  overflow: visible;
  position: relative; }
.ace-editor-design-wrapper .ace_text-layer {
  padding-right: 0 !important; }
.ace-editor-design-wrapper .ace_fold-widget {
  width: 12px; }
.ace-editor-design-wrapper .ace_scrollbar {
  right: -14px; }
.ace-editor-design-wrapper .ace_cursor {
  margin-top: -1px;
  height: 32px; }

.ace_bold, .ace_heading {
  font-family: "LuxiMonoBold"; }

.ace_emphasis, .ace_cite, .ace_quote {
  font-family: "LuxiMonoOblique"; }

.ace_url, .ace_underline, .ace_ins {
  text-decoration: underline; }

.ace_del {
  text-decoration: line-through; }

.ace_sup {
  vertical-align: sup; }

.ace_sub {
  vertical-align: sub; }

.setting-size-normal .hack_ace_measure_node,
.setting-size-normal .ace_line {
  font: 16px/28px "LuxiMonoRegular"; }
.setting-size-normal .ace_gutter {
  font: italic 14.4px/28px Georgia, sans-serif; }

.light.ace-editor-position-wrapper {
  background: #f9f9fa; }
  .light.ace-editor-position-wrapper .ace_scroller, .light.ace-editor-position-wrapper .ace_scroller.ace_scroll-left, .light.ace-editor-position-wrapper .ace_scroller.ace_scroll-right {
    box-shadow: inset 0 2px 5px #f9f9fa, inset 0 -2px 5px #f9f9fa; }

.ace-pw-light .ace_line {
  color: #373c41; }
.ace-pw-light .ace_heading, .ace-pw-light .ace_keyword {
  color: rgba(102, 72, 42, 0.8); }
.ace-pw-light .ace_bold, .ace-pw-light .ace_emphasis {
  color: rgba(55, 60, 65, 0.9); }
.ace-pw-light .ace_modifier {
  color: rgba(102, 72, 42, 0.75); }
.ace-pw-light .ace_list {
  color: rgba(16, 122, 190, 0.9); }
.ace-pw-light .ace_underline {
  color: rgba(102, 72, 42, 0.8); }
.ace-pw-light .ace_code, .ace-pw-light .ace_quote {
  color: rgba(55, 60, 65, 0.75); }
.ace-pw-light .ace_sup, .ace-pw-light .ace_sub {
  color: rgba(16, 122, 190, 0.6); }
.ace-pw-light .ace_tag, .ace-pw-light .ace_operator {
  color: rgba(16, 122, 190, 0.3); }
  .ace-pw-light .ace_tag.ace_tag-name, .ace-pw-light .ace_operator.ace_tag-name {
    color: rgba(16, 122, 190, 0.8); }
.ace-pw-light .ace_attribute-name {
  color: rgba(16, 122, 190, 0.8); }
.ace-pw-light .ace_attribute-value {
  color: rgba(102, 72, 42, 0.8); }
.ace-pw-light .ace_invisible {
  color: rgba(55, 60, 65, 0.2); }
.ace-pw-light .ace_fold {
  background: #66482a; }
.ace-pw-light .ace_gutter {
  color: #f9f9fa;
  background: transparent; }
.ace-pw-light .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==) right repeat-y; }
.ace-pw-light .ace_cursor {
  border-left: 3px solid #1bc3fb; }
.ace-pw-light .ace_marker-layer .ace_selection {
  background: rgba(102, 72, 42, 0.15); }
.ace-pw-light.focus-mode .ace_line_group .ace_line {
  opacity: 0.4; }
.ace-pw-light.focus-mode .ace_line_group_active .ace_line {
  opacity: 1; }
