// 
// Theme: light
// ---
// Color settings related to light theme
//
// Note: Xl = light color, where X = b-background, t-text, p-primary, s-secondary
.light.ace-editor-position-wrapper
  background: c(bl,1)
  .ace_scroller
    &, &.ace_scroll-left, &.ace_scroll-right
      box-shadow: inset 0 2px 5px c(bl,1), inset 0 -2px 5px c(bl,1)

.ace-pw-light

  // basic typography (markdown, textile)
  .ace_line
    color: c(tl,1)

  .ace_heading, .ace_keyword
    color: c(pl, .8)

  .ace_bold, .ace_emphasis
    color: c(tl, .9)

  .ace_modifier
    color: c(pl,.75)

  .ace_list
    color: c(sl,.9)

  .ace_underline
    color: c(pl,.8)

  .ace_code, .ace_quote
    color: c(tl,.75)

  .ace_sup, .ace_sub
    color: c(sl,.6)

  // html
  .ace_tag, .ace_operator
    color: c(sl,.3)
    &.ace_tag-name
      color: c(sl,.8)

  .ace_attribute-name
    color: c(sl, .8)

  .ace_attribute-value
    color: c(pl, .8)

  // invisibles & details
  .ace_invisible
    color: c(tl,.2)

  .ace_fold
    background: c(pl, 1)

  .ace_gutter
    color: c(bl, 1)
    background: transparent

  .ace_indent-guide
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==) right repeat-y

  .ace_cursor
    border-left: 3px solid #1bc3fb

  // selection
  .ace_marker-layer .ace_selection
    background: c(pl,.15)

  &.focus-mode
    .ace_line_group .ace_line
      opacity: .4
    .ace_line_group_active .ace_line
      opacity: 1