// 
// Typography
// ---
// The awesomest typography ever seen in PW Editor
//

.ace_bold, .ace_heading
	font-family: $f-mono-serif-b

.ace_emphasis, .ace_cite, .ace_quote
	font-family: $f-mono-serif-i

.ace_url, .ace_underline, .ace_ins
	text-decoration: underline

.ace_del
	text-decoration: line-through

.ace_sup
	vertical-align: sup

.ace_sub
	vertical-align: sub
	

.setting-size-normal
	.hack_ace_measure_node,
	.ace_line
		font: #{$normal-font-size}/#{$normal-line-height} $f-mono-serif

	.ace_gutter
		font: italic #{$normal-font-size * .9}/#{$normal-line-height} Georgia, sans-serif